<?xml version="1.0"?>
<config>
    <sections>
        <admin>
            <groups>
                <fb_image_cleaner translate="label">
                    <tab>advanced</tab>
                    <label>Image Cleaner</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>90</sort_order>
                    <fields>
                        <thumbnail_max_width translate="label comment">
                            <label>Thumbnail size</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Used in the admin preview grid.</comment>
                        </thumbnail_max_width>
                        <enable_image_click>
                            <label>Enable click on preview image to zoom it</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable_image_click>
                        <how_to_open_image translate="label">
                            <label>Ho to open full size image</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fballiano_imagecleaner/system_config_source_howtoopenimage</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </how_to_open_image>
                        <blacklist translate="label comment">
                            <frontend_type>textarea</frontend_type>
                            <label>Files/folders blacklist</label>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Never identify or delete files and folders in this list (wildcards allowed),
                                one per line. Root dir is "media". Eg: "wysiwyg/landing*/*.jpg" or
                                "wysiwyg/images2021" etc.</comment>
                        </blacklist>
                    </fields>
                </fb_image_cleaner>
            </groups>
        </admin>
    </sections>
</config>