<?xml version="1.0"?>
<config>
    <modules>
        <Fballiano_ImageCleaner>
            <version>0.1.0</version>
        </Fballiano_ImageCleaner>
    </modules>
    <global>
        <models>
            <fballiano_imagecleaner>
                <class>Fballiano_ImageCleaner_Model</class>
                <resourceModel>fballiano_imagecleaner_resource</resourceModel>
            </fballiano_imagecleaner>
            <fballiano_imagecleaner_resource>
                <class>Fballiano_ImageCleaner_Model_Resource</class>
                <entities>
                    <image>
                        <table>fb_imagecleaner_image</table>
                    </image>
                </entities>
            </fballiano_imagecleaner_resource>
        </models>
        <blocks>
            <fballiano_imagecleaner>
                <class>Fballiano_ImageCleaner_Block</class>
            </fballiano_imagecleaner>
        </blocks>
        <helpers>
            <fballiano_imagecleaner>
                <class>Fballiano_ImageCleaner_Helper</class>
            </fballiano_imagecleaner>
        </helpers>
        <resources>
            <fballiano_imagecleaner_setup>
                <setup>
                    <module>Fballiano_ImageCleaner</module>
                </setup>
            </fballiano_imagecleaner_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <fballiano_imagecleaner  after="Mage_Adminhtml">Fballiano_ImageCleaner_Adminhtml</fballiano_imagecleaner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>